#canvas1 {
	border-style:ridge;
	border-color:red;
	border-width:20px;
}
#canvas2 {
	border-style:ridge;
	border-color:maroon;
	border-width:35px;
}
#canvas3 {
	border-style:ridge;
	border-color:purple;
	border-width:50px;
}